* {
	margin: 0;
	padding: 0;
	color: #FFF;
}

html, body {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body{
	display: table;
}

body > * {
	display: table-row;
}

#site-header {
	height: 80px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: center;
	background-color: #454545;
}

#site-main {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.photo {
	width: 80px;
	height: 80px;
	background-color: white;
}

#site-main > div {
	display: flex;
	flex-direction: row;
}

.new-articles {
	height: 800px;
	padding: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
}

.new-articles > .photo {
	background-color: #545454;
	border: 5px solid #FFF;
	border-radius: 20px;
}

.old-articles {
	background-color: #727272;
}

.people {
	background-color: #727272;
}

.people > .photo {
	background-color: #727272;
	border: 5px solid #FFF;
	border-radius: 20px;
}

.guide {
	background-color: #727272;
}

#site-footer {
	height: 200px;
	background-color: #454545;
}
